.App {
  font-size: 12pt;
}

button {
  cursor: pointer;
}

#header-container {
  background-color: #000;
  display: block;
  color: #fff;
  font-size: 24pt;
  padding: 20px;
}

.search-bar {
  display: inline-block;
  font-size: 16pt;
  padding-top: 8px;
  padding-bottom: 8px;
}

#search-field {
  width: calc(100% - 42.5px - 85px);
  padding-left: 20px;
  padding-right: 20px;
  border:  none;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:nth-child(odd) {
  background: #f7f7f7;
}

.row-container {
  display: flex;
  align-items: flex-start;
}

.row-container img {
  width: 30%;
}

.row-content {
  padding-left: 2%;
  width: 65%;
}